.search-page-container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0px;
  font-family: "Inter", sans-serif;

  /* Page Header */
  .search-page-header {
    text-align: center;
    margin-bottom: -2rem;
    padding: 2rem;
    background: transparent;
    border-radius: 20px;

    .page-title {
      font-family: "Outfit", sans-serif;
      font-size: 3rem;
      font-weight: 800;
      color: #010307;
      margin: 1rem 0 1rem 0;

      @media (max-width: 768px) {
        font-size: 2rem;
      }
    }

    .page-subtitle {
      font-size: 1.2rem;
      color: #546e7a;
      margin: 0;
      line-height: 1.6;

      @media (max-width: 768px) {
        font-size: 1rem;
      }
    }
  }

  /* Search Content */
  .search-content {
    margin-bottom: 4rem;
    width: 100%;
  }

  @media (max-width: 768px) {
    padding: 1rem;
  }
}